<%# ユーザー情報 %>
<div>
  <h3><%= @user.nickname %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<%# ユーザー投稿 %>

<% @post.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
</div>
<% end %>